# SPDX-FileCopyrightText: Mikael Nordin <kano@sunet.se>
# SPDX-License-Identifier: AGPL-3.0-or-later
.idea
*.iml
integration_jupyterhub/vendor/
integration_jupyterhub/js/*
integration_jupyterhub/node_modules/
/build/
node_modules/
/.php_cs.cache
js/*hot-update.*
